<div class="portfolio-container">
    <div class="title-wrapper">
        <h1 class="portfolio-title">Portfolio</h1>
        <span class="portfolio-bg-text">Portfolio</span>
    </div>
    <div class="card text-center" style="width: 18rem; background-color: black; border: 2px solid #ffbd39;">
        <div class="card-body">
            <div class="circle-container">
                <img src="/images/nandhu_bg_black.png" alt="Your Photo" class="rounded-circle" />
            </div>
            <h5 class="card-title text-light mt-3">Your Name</h5>
            <div class="d-flex justify-content-around mt-3">
                <a href="/path-to-resume" class="btn" style="background-color: #ffbd39; color: black;">Download
                    Resume</a>
                <a href="#contact" class="btn btn-outline-warning">Contact</a>
            </div>
        </div>
    </div>
</div>