<div class="services-container mt-5">
    <div class="title-wrapper" data-aos="zoom-in-up">
        <h1 class="services-title">Services</h1>
        <span class="services-bg-text">Services</span>
    </div>

    <div class="desc mx-5 mt-3" data-aos="zoom-in-up">
        <strong>Building Scalable & Efficient Solutions.</strong>
        <p>I provide end-to-end solutions tailored to your needs, from designing intuitive UI/UX to developing robust
            full-stack applications. Whether it's backend API development, freelancing consultations, or business-driven
            solutions, I ensure quality, efficiency, and long-term support.
        </p>
    </div>

    <div class="services-grid" data-aos="zoom-in-up">
        <div class="service-box" data-aos="fade-left">
            <fa-icon class="service-icon" [icon]="icons.web"></fa-icon>
            <p>Full-Stack Web Development</p>
        </div>
        <div class="service-box" data-aos="fade-down">
            <fa-icon class="service-icon" [icon]="icons.uiux"></fa-icon>
            <p>UI/UX & Design</p>
        </div>
        <div class="service-box" data-aos="fade-right">
            <fa-icon class="service-icon" [icon]="icons.backend"></fa-icon>
            <p>Backend & API Development</p>
        </div>
        <div class="service-box" data-aos="fade-left">
            <fa-icon class="service-icon" [icon]="icons.freelance"></fa-icon>
            <p>Freelancing & Consulting</p>
        </div>
        <div class="service-box" data-aos="fade-down">
            <fa-icon class="service-icon" [icon]="icons.business"></fa-icon>
            <p>Business-Oriented Solutions</p>
        </div>
        <div class="service-box" data-aos="fade-right">
            <fa-icon class="service-icon" [icon]="icons.support"></fa-icon>
            <p>Maintenance & Support</p>
        </div>
    </div>
</div>