<footer class="footer p-5 mt-5">
    <div class="footer-content">
        <p class="copyright">© Nandhu. All rights reserved.</p>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/nandhakumar-s-529936151/" target="_blank" class="social-icon linkedin">
                <fa-icon [icon]="icons.linkedIn"></fa-icon>
            </a>
            <a href="https://www.instagram.com/nandhakumar_145" target="_blank" class="social-icon instagram">
                <fa-icon [icon]="icons.instagram"></fa-icon>
            </a>
            <a href="https://www.x.com" target="_blank" class="social-icon x">
                <fa-icon [icon]="icons.x"></fa-icon>
            </a>
            <a href="https://www.facebook.com" target="_blank" class="social-icon facebook">
                <fa-icon [icon]="icons.facebook"></fa-icon>
            </a>
            <a href="https://www.youtube.com" target="_blank" class="social-icon youtube">
                <fa-icon [icon]="icons.youtube"></fa-icon>
            </a>
        </div>
    </div>
</footer>