<div class="title-container mt-5">
    <div class="title-wrapper" data-aos="zoom-in-up">
        <h1 class="title-title">Experience</h1>
        <span class="title-bg-text">Experience</span>
    </div>

    <div class="desc mx-5 mt-3" data-aos="zoom-in-up">
        <strong>Bringing Ideas to Life with Code & Innovation.</strong>
        <p>With hands-on experience in full-stack development, I have worked on diverse projects, handling everything
            from
            front-end design to backend architecture. I specialize in crafting scalable applications, optimizing
            performance, and delivering business-driven solutions. My expertise spans .NET Core, C#, Web API,
            Microservices,
            Angular, React, and modern web technologies, ensuring seamless user experiences and robust functionality.
        </p>
    </div>

    <div class="experience-content row">
        <div class="col-md-6 stepper-column">
            <div class="stepper">
                <div class="step">
                    <div class="step-icon"></div>
                    <div class="step-box" data-aos="flip-left">
                        <h4 class="step-header">Cognizant Technology Solutions</h4>
                        <p class="date-range">Aug 2023 - Present</p>
                        <p>Developed e-GIS Reporting for dynamic Power BI dashboards and enhanced Arc-FM Management
                            with session tracking & automated outage alerts.</p>
                    </div>
                </div>

                <div class="step">
                    <div class="step-icon"></div>
                    <div class="step-box" data-aos="flip-left">
                        <h4 class="step-header">VEGA Intellisoft</h4>
                        <p class="date-range">Jan 2022 - July 2023</p>
                        <p>Built BMS for construction site management and developed logistics monitoring solutions for
                            Saint-Gobain using GPS & RFID.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 stepper-column">
            <div class="stepper">
                <div class="step">
                    <div class="step-icon"></div>
                    <div class="step-box" data-aos="flip-right">
                        <h4 class="step-header">Freelance</h4>
                        <p class="date-range">Oct 2021 - Dec 2021</p>
                        <p>Developed BMS, a construction site management app for tracking daily progress, materials,
                            costs, and worker attendance.</p>
                    </div>
                </div>

                <div class="step">
                    <div class="step-icon"></div>
                    <div class="step-box" data-aos="flip-right">
                        <h4 class="step-header">Illuminen Technologies</h4>
                        <p class="date-range">Sept 2019 - Nov 2021</p> <!-- Date Range -->
                        <p>Developed iMatch, a home inspection system with role-based access, request handling, and
                            geolocation-based data collection.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>